@import './components/Register/Register.css';
@import './components/Layout/Layout.css';


:root {
    --primary-color: #97D7FB; 
    --secondary-color: #354775;
    --hover-color: #359FB6;
    --text-color: white; 
    --padding: 10px;
    --hover-bg-color: #3498db; /* Màu nền khi hover */
    --hover-text-color: white; /* Màu chữ khi hover */
    --transition-time: 0.3s; 
    
    --btn-hover: #e07979;
}

h1{}


body {
  /* margin: 0; */
  font-family: "Montserrat", sans-serif !important;
  background-color: #f8f9fa;
  color: #343a40;
  
}

.hover-effect:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
  font-weight: bolder;
}




  .form-container {
    margin-bottom: 50px; 
  }

  .App {
    font-family: "Montserrat", sans-serif;
  }
 

  
  /* Not Found Page Styles */
  .not-found {
    padding: 20px;
  }
  
  .not-found h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .not-found p {
    font-size: 1.2rem;
  }
  
 

.page-wrapper > div {
  padding: 20px 40px;
  min-height: 75vh;
}

.button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: var(--padding);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100% !important; 
}

.button:hover {
  background-color: var(--btn-hover);
}